.converter {
   margin-top: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: brown;
   margin-left: 500px;
   margin-right: 500px;
 }
 
 input, select, button {
   margin-bottom: 50px;
   padding: 10px;
   border: solid burlywood;
   font-size: 20px;
 }
 
 #result {
   margin-top: 10px;
   font-weight: bold;
   color: white;
   font-size: 20px;
   margin-bottom: 10px;
 }
 .deg{
  color: white;
  margin-bottom: 2px;
  font-size: 20px;
 }
 .temp{
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  
 }
